<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="toastr.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="semantic/semantic.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
    <style type="text/css">
        .ui.inverted.secondary.button.w{
            height: inherit;
        }
        .ui.labeled.icon.button.w{
            width: -moz-available;
        }
    </style>
</head>
<body>
    <div>
        <ul class="user-info">
            <li><a href="{{ url_for('Index') }}">Home</a></li>
            {% if current_user.is_anonymous %}
                <li> | </li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li> | </li>
                <li><a href="{{ url_for('signup') }}">Register</a></li>
                <li> | </li>
                <li><a href="{{ url_for('forgot') }}">Forgot</a></li>
                <li> | </li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li> | </li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toastr.min.js') }}"></script>
    {% block content %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    toastr.{{ category }}('{{ message }}',{
                        "newestOnTop": true,
                        "closeButton": true,
                        "progressBar": true
                    })
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
