<!DOCTYPE html>
<html lang="es">
<head>
 
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="toastr.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="semantic/semantic.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
    <!--<link rel="icon" type="image/png" href="{{ url_for("static", filename="LogoBlanco1.png") }}" sizes="64x64">-->
    <style type="text/css">
        .ui.inverted.secondary.button.w{
            height: inherit;
        }
        .ui.labeled.icon.button.w{
            width: -moz-available;
        }
        .instagram_username{
            display : none;
        }
        .circular.ui.animated.button{
            height: 532px;
            width: 120px;
            background: transparent;
            color: white;
        }
        .ui.bottom.attached.segment{
            height: 540px;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>

</head>
<body>
    
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='toastr.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.instagramFeed.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.scrollTo.js') }}"></script>
    
    
    <header class="App-header">
        <div class="Menu">
            <img src="{{ url_for('static', filename='images/LogoBlanco1.png') }}" class="App-logo" alt="logo"/>
            <div class="ui inverted segment">
                <div class="ui inverted pointing secondary menu">
                    <a class="item" href="{{ url_for('Index') }}">Home</a>
                    <a class="item" href="{{ url_for('login') }}">Login</a>
                    <a class="item" href="{{ url_for('signup') }}">Register</a>
                    <a class="item" href="{{ url_for('forgot') }}">Forgot</a>
                    <a class="item" href="{{ url_for('profile') }}">Profile</a>
                    <a class="item" href="{{ url_for('tinder') }}">Tinder</a>
                    <a class="item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
               
    </header>
    <div class="decorBar"></div>
    



    {% block content %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    toastr.{{ category }}('{{ message }}',{
                        "newestOnTop": true,
                        "closeButton": true,
                        "progressBar": true
                    })
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>$(document).ready(menu.ready);</script>
</body>

</html>
