<form action="/editDinerUser/{{contact.0}}" method="POST">
    <div class="form-group">
      <input type="text" name="numDocument" value="{{contact.1}}" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="firstname" value="{{contact.2}}" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="secondname" value="{{contact.3}}" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="firstLastname" value="{{contact.4}}" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="secondLastname" value="{{contact.5}}" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="address" value="{{contact.7}}" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="telephone" value="{{contact.7}}" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="payMethod" value="{{contact.8}}" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        Update
      </button>
    </div>
  </form>