{% extends "base_template.html" %}
{% block title %}Perfil de Usuario{% endblock %}
{% block content %}
<body>
	<div id="pbackground">
		<div id="player_1"><img src="{{ url_for('static', filename='images/layer_1.png') }}"></div>
		<div id="pBackground8"><img src="{{ url_for('static', filename='images/Background8.png') }}"></div>
		<div id="pBackground10"><img src="{{ url_for('static', filename='images/Background10.png') }}"></div>
		<div id="pJuanitaPerez">
			<!--<img src="{{ url_for('static', filename='images/JuanitaPerez.png') }}">-->
			<p style="font-family:Roboto;color:white;font-size: 19px">
				<i class="user icon"></i>
				Xavi Garzón
			</p>
		</div>
		<div id="pdashboard3avatar"><img src="{{ url_for('static', filename='images/dashboard3avatar.png') }}"></div>
		<div id="pjuanitarequiml">
			<!--<img src="{{ url_for('static', filename='images/juanitarequiml.png') }}">-->
			<p style="font-family:Roboto;color:white;font-size: 19px">
				<i class="at icon"></i>
				xg@javerianacali.edu.co
			</p>
		</div>
		<div id="player_57302118294">
			<!--<img src="{{ url_for('static', filename='images/layer_57302118294.png') }}">-->
			<p style="font-family:Roboto;color:white;font-size: 19px">
				<i class="mobile alternate icon"></i>
				3022118294
			</p>
		</div>
		<div id="pIngdeRequisitos">
			<!--<img src="{{ url_for('static', filename='images/IngdeRequisitos.png') }}">-->
			<p style="font-family:Roboto;color:white;font-size: 19px">
				<i class="user secret icon"></i>
				xgusuario
			</p>
		</div>
		<div id="pGroup2764">
			<!--<img src="{{ url_for('static', filename='images/Group2764.png') }}">-->
			<button class="ui inverted secondary button w">BUSCAR RESTAURANTES</button>
		</div>
		<div id="pSeparator"><img src="{{ url_for('static', filename='images/Separator.png') }}"></div>
		<div id="pSeparator2"><img src="{{ url_for('static', filename='images/Separator.png') }}"></div>
		<div id="pSeparator3"><img src="{{ url_for('static', filename='images/Separator.png') }}"></div>
		<div id="pSeparator4"><img src="{{ url_for('static', filename='images/Separator.png') }}"></div>
		<!--<div id="pGroup2807"><img src="{{ url_for('static', filename='images/Group2807.png') }}"></div>-->
		<!--<div id="player_6"><img src="{{ url_for('static', filename='images/layer_6.png') }}"></div>-->
		<!--<div id="pEmailIcons"><img src="{{ url_for('static', filename='images/EmailIcons.png') }}"></div>-->
		<!--<div id="pGroup2802"><img src="{{ url_for('static', filename='images/Group2802.png') }}"></div>-->
		<div id="pSeparator5"><img src="{{ url_for('static', filename='images/Separator.png') }}"></div>
		<div id="pRectangle21">
			<!--<img src="{{ url_for('static', filename='images/Rectangle21.png') }}">-->
			<button onclick="" class="ui inverted button">MODIFICAR DATOS</button>
		</div>
		<!--<div id="pMODIFICARDATOS"><img src="{{ url_for('static', filename='images/MODIFICARDATOS.png') }}"></div>-->
		<div id="pRectangle212">
			<!--<img src="{{ url_for('static', filename='images/Rectangle212.png') }}">-->
			<button onclick="" class="ui inverted button">CERRAR SESIÓN</button>
		</div>
		<!--<div id="pCERRARSESIN"><img src="{{ url_for('static', filename='images/CERRARSESIN.png') }}"></div>-->
		<div id="pBIENVENIDOXAVIHERNAN">
			<!--<img src="{{ url_for('static', filename='images/BIENVENIDOXAVIHERNAN.png') }}">-->
			<center><p style="font-family:Roboto;color:black;font-size: 42px"><strong>BIENVENIDO XAVI GARZÓN</strong></p></center>
		</div>
		<div id="pCapa2"><img src="{{ url_for('static', filename='images/Capa2.png') }}"></div>
		<div id="pCapa3"><img src="{{ url_for('static', filename='images/Capa3.png') }}"></div>
		<div id="player_25">
			<!--<img src="{{ url_for('static', filename='images/layer_25.png') }}">-->
			<button class="ui inverted secondary button w">BUSCAR RESERVAS PÚBLICAS</button>
		</div>
		<!--<div id="pBuscarReservasPblica"><img src="{{ url_for('static', filename='images/BuscarReservasPblica.png') }}"></div>-->
		<div id="player_27">
			<!--<img src="{{ url_for('static', filename='images/layer_27.png') }}">-->
			<button class="ui inverted secondary button w">HISTORIAL DE RESERVAS</button>
		</div>
		<!--<div id="pHistorialdeReservas"><img src="{{ url_for('static', filename='images/HistorialdeReservas.png') }}"></div>-->
		<div id="player_29">
			<!--<img src="{{ url_for('static', filename='images/layer_29.png') }}">-->
			<button class="ui inverted secondary button w">MIS RESERVAS</button>
		</div>
		<!--<div id="pMisReservas"><img src="{{ url_for('static', filename='images/MisReservas.png') }}"></div>-->
	</div>
</body>
{% endblock %}